.idea/
.vscode/
config/*
config/jtw.config.php
config/mysql.config.php
/coverage/
/logs/*
!/logs/README.md
.phpunit.result.cache
*.DS_Store
.DS_Store
.htaccess
/config/*
Library/Consumidores/config/configs.php
