.navbar {
    background-color: #2f3340;
}

.banner:before {

    background-color: #2f3240;
}

body {
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: -0.015em;
    background-color: #2f3240;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    overflow-x: hidden;
    position: relative;
}

.banner-images a {
    border: 2px solid #2f3340;
}

.banner-images a:hover,
.banner-images a:focus,
.banner-images a:active {
    border-color: #f4ba2f;
}

header .sticky {
    background-color: #2f3340;
}

footer {
    background-color: #2f3340;
}


.advanced .left-side-widget .table thead {
    border-bottom: 1px solid #2f3340;
}




footer .links ul li a {
    color: #008200;
}
.socialFooter {
	color: #008200;
} 